body {
    background-color: rgb(156, 149, 137);
}
h1 {
    color: black;
    
    align-items: center;
    text-align: center;
}
h2 {
    color: rgb(122, 114, 168);
    align-items: center;
    align-content: center;
    text-align: center;
}
button {
   text-emphasis-color: white;
   background-color: rgb(145,145,130);
   text-align: center;
   align-items: center;
   border: 1px;
}
p {
    color: black;
    
    text-align: justify;
}
ul {
    text-align: justify;
    
}
h5{
    color: rgb(41, 39, 39);
    text-align: center;
}